{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": ["ios >= 8", "android >= 4.2"],
                "useBuiltIns": "usage",
                "corejs": "3.29"
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": ["@babel/plugin-proposal-class-properties", "@babel/plugin-transform-runtime", "@loadable/babel-plugin"]
}
