{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": ["ios >= 8", "android >= 4.2"],
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-syntax-dynamic-import",
        "@loadable/babel-plugin",
        [
            "import",
            {
                "libraryName": "zarm",
                "style": true
            }
        ]
    ]
}
