.todo-page{
    background-color: white;
    padding: 30px;
    font-size: 28px;
    line-height: 42px;
    .doing{
        color: #12c587;
    }
    .todo-header{
        color: #111111;
    }
    .todo-item{
        color: #333333;
    }
}